@page
@model BookingApp.Pages.IndexModel

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1200, initial-scale=1.0">
  <link rel="stylesheet" href="~/styles/main-page.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Main Page</title>
</head>
<body>
  <div class="banner-header">
    <div class="navbar">
      <div class="logo">
        <p class="logo-text">sunset dreams</p>
      </div>
      <div class="navbar-buttons">
        <a href="" class="navbar-button">Забронировать домик</a>
        <a href="" class="navbar-button">Услуги</a>
        <a href="" class="navbar-button">Мероприятия</a>
      </div>
      <div class="navbar-auth-btn">
        <button class="auth-btn"></button>
      </div>
    </div>
    <div class="searchbar">
      <div class="search-text">Забронируйте домик для себя</div>
      <div class="search-input">дата</div>
      <div class="search-input">дата</div>
      <div class="search-input">гости</div>
      <div class="search-btn"></div>
    </div>
  </div>
  
  <div class="items-container">
    <div class="container-header">Домики</div>
    <div class="container-items">
      <div class="container-item">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
      <div class="container-item">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
      <div class="container-item">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
      <div class="container-item">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
    </div>
  </div>

  <div class="banner">
    <h2 class="banner-h2"></h2>
    <button class="banner-btn"></button>
  </div>

  <div class="items-container">
    <div class="container-header">Услуги</div>
    <div class="container-items">
      <div class="container-item">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
      <div class="container-item">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
      <div class="container-item">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
      <div class="container-item">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
    </div>
  </div>

  <div class="items-container">
    <div class="container-header">Мероприятия</div>
    <div class="container-items">
      <div class="container-item-events">
        <img src="" alt="">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
      <div class="container-item-events">
        <img src="" alt="">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
      <div class="container-item-events">
        <img src="" alt="">
        <h3 class="container-item-header"></h3>
        <p class="container-item-text"></p>
      </div>
    </div>
  </div>

  <div class="about-banner">
    <div class="about info">
      <h2></h2>
      <p></p>
      <a href=""></a>
      <button></button>
    </div>
    <img src="" alt="">
  </div>

  <div class="footer">
    <div class="footer-info">
      <div class="logo-text"></div>
      <fiv class="footer-text"></fiv>
    </div>
    <div class="footer-help"></div>
    <div class="footer-contact"></div>
    <div class="footer-copyright"></div>
  </div>

</body>
</html>